<div class="container-fluid primary navbar navbar-expand-lg">
    <div class="col-8 offset-md-2 d-flex justify-content-between align-items-center">
        <span class="navbar-brand">
            <a routerLink="/">
                <img class="logo" src="../../assets/logo_prata.png" alt="logo.prata">
            </a>
        </span>
        <div class="navbar-nav">
            <button type="button" class="btn btn-outline-light" [routerLink]="['/clientes/cadastro']" routerLinkActive="router-link-active" > + Novo Cliente </button>
            <a class="nav-item nav-link btn-exit ml-2" (click)="logout()">
                <img src="../../assets/exit.png" alt="sair">
                Sair</a>
        </div>
    </div>
</div>