/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-primary{
    background: #08436F !important;
}

.primary{
    background: #08436F !important;
}
.btn-outline-primary:hover{
    background: #08436F !important;
}
.page-title{
    color: #08436F !important;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}